<div class="page-header">
    <button type="button" ng-click="discover()"
            class="btn btn-primary btn-sm pull-right"
            data-toggle="modal"
            data-backdrop="static"
            data-keyboard="false"
            data-target="#myModal">
        <i class="fa fa-refresh fa-fw"></i> {$ tenants.length <= 0 ? "Discover" : "Re-Discover" $} Tenants
    </button>
    <h1>Tenants</h1>
</div>

<table class="table table-bordered bg-white" ng-hide="tenants.length <= 0">
    <tr>
        <th>Tenant Name</th>
        <th class="col-md-1">Status</th>
    </tr>
    <tr ng-repeat="item in tenants">
        <td>{$ item.tenant_name $}</td>
        <td>
            <span class="label" ng-class="{'label-success': item.enabled, 'label-danger': !item.enabled}">
                {$ item.enabled === true ? "Enabled" : "Disabled" $}
            </span>
        </td>
    </tr>
</table>

<p ng-show="tenants.length <= 0">No tenants discovered. Please click on discover tenants</p>


<ng-include src="'/static/partials/cloud/tenants/tenants_discovery.html'"></ng-include>