<ng-include src="'/static/partials/common/header.html'"></ng-include>

<div class="container">
    <!--
    <div class="row">
        <pre>{$ cloud | json $}</pre>
    </div>
    -->
    <div class="row">
        <div class="col-md-12">
            <h1>{$ event | capitalize:true $} Cloud Traffic</h1>
            <h4>Cloud > Traffic</h4>
            <form name="cloudtraffic" ng-submit="save()">
                <div class="form-group">
                    <label>Name</label><span> * </span>
                    <input type="text" class="form-control" id="name" ng-model="cloudTraffic.name" required>
                </div>
                <div class="form-group">
                    <label>Allowed Delta Percentage</label>
                    <input type="number" class="form-control" id="allowed_delta_percentage" ng-model="cloudTraffic.allowed_delta_percentage" required>
                </div>
                <div class="form-group">
                    <label>Test Result Path</label>
                    <input type="text" class="form-control" id="test_result_path" ng-model="cloudTraffic.test_result_path" required>
                </div>
                <div class="form-group">
                    <label>Number Of Workers</label>
                    <input type="number" class="form-control" id="number_of_workers" ng-model="cloudTraffic.number_of_workers" required>
                </div>
                <div class="form-group">
                    <label>Remote Username</label>
                    <input type="text" class="form-control" id="remote_user" ng-model="cloudTraffic.remote_user" required>
                </div>
                <div class="form-group">
                    <label>Remote Password</label>
                    <input type="password" class="form-control" id="remote_pass" ng-model="cloudTraffic.remote_pass" required>
                </div>
                <div class="form-group">
                    <label>Test Method</label>
                    <div class="checkbox">
                         <input type="text" class="form-control" id="test_method" ng-model="cloudTraffic.test_method" required>
                    </div>                   
                </div>
                <div class="form-group">
                    <label>IPERF Duration</label>
                    <input type="number" class="form-control" id="iperf_duration" ng-model="cloudTraffic.iperf_duration" required>
                </div>
                <div class="form-group">
                    <label>Type</label>
                    <select class="form-control" ng-model="cloudTraffic.tenant_type">
                        <option value="all">All</option>
                        <option value="intra-tenant">Intra Tenant</option>
                        <option value="inter-tenant">Inter Tenant</option>
                        <option value="south-north">South to North</option>
                        <option value="north-south">North to South</option>
                    </select>
                </div>
                <a href="#/cloud/view/{$ cloud.id $}/" class="btn btn-default">Cancel</a>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>