<div class="page-header">
    <a href="#/cloud/traffic/add/{$ cloud.id $}/" class="btn btn-primary btn-sm pull-right">
        <i class="fa fa-plus-circle fa-fw"></i> Add Traffic
    </a>
    <h1>Traffic</h1>
</div>

<div class="list-group" ng-show="trafficList.length > 0">
    <div class="list-group-item" ng-repeat="cloudTraffic in trafficList">
        <div class="row">
            <div class="col-md-5">
                <div>Allowed delta percentage : {$ cloudTraffic.allowed_delta_percentage $} %</div>
                <div># Workers : {$ cloudTraffic.number_of_workers $}</div>
                <div>IPERF duration : {$ cloudTraffic.iperf_duration $} sec</div>
            </div>
            <div class="col-md-5">
                <div>Test result path : {$ cloudTraffic.test_result_path $}</div>
                <div>Test Methods : <span class="label label-info">{$ cloudTraffic.test_method $}</span></div>
                <div>Test Type : {$ cloudTraffic.test_type $}</div>
            </div>
            <div class="col-md-2">
                <b><a href="#/cloud/traffic/view/{$ cloud.id $}/{$ cloudTraffic.id $}/">{$ cloudTraffic.name | limitTo: 20 $}</a></b>
                <div>&nbsp;</div>
                <div class="pull-right">
                    <a href="#/cloud/traffic/edit/{$ cloud.id $}/{$ cloudTraffic.id $}/" class="text-info"><i class="fa fa-edit fa-fw"></i></a>
                    <a href class="text-danger" ng-click="delete($index)"><i class="fa fa-trash-o fa-fw"></i></a></span>
                </div>
            </div>
        </div>
        <!-- ./row -->
    </div>
    <!-- ./list-group-item -->
</div>
<!-- ./list-group -->

<p ng-hide="trafficList.length > 0">No traffic(s).</p>