<ng-include src="'/static/partials/common/header.html'"></ng-include>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="#/cloud/">Cloud List</a></li>
                <li><a href="#/cloud/view/{$ cloudId $}/">Cloud Details</a></li>
                <li class="active">Traffic</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>Traffic Details</h1>
                <a href="#/cloud/traffic/edit/{$ cloudId $}/{$ id $}/" class="btn btn-primary btn-sm pull-right"><i class="fa fa-edit fa-fw"></i> Edit</a>
            </div>
            <table class="table bg-white border">
                <tr>
                    <td class="text-right col-md-3">Name : </td>
                    <td class="text-info col-md-3">{$ traffic.name $}</td>
                    <td class="text-right col-md-3">Allowed delta percentage :  </td>
                    <td class="text-info col-md-3">{$ traffic.allowed_delta_percentage $} %</td>
                </tr>
                <tr>
                    <td class="text-right col-md-3">Remote User : </td>
                    <td class="text-info col-md-3">{$ traffic.remote_user $}</td>
                    <td class="text-right col-md-3">Number of workers :  </td>
                    <td class="text-info col-md-3">{$ traffic.number_of_workers $}</td>
                </tr>
                <tr>
                    <!--
                    <td class="text-right col-md-3">External host : </td>
                    <td class="text-info col-md-3">{$ traffic.external_host $}</td>
                    -->
                    <td class="text-right col-md-3">Test environment :  </td>
                    <td class="text-info col-md-3">{$ traffic.test_environment $}</td>
                    <td class="text-right col-md-3">IPERF duration :  </td>
                    <td class="text-info col-md-3">{$ traffic.iperf_duration $} sec</td>
                </tr>
                <tr>
                    <td class="text-right col-md-3">SSH gateway : </td>
                    <td class="text-info col-md-3">{$ traffic.ssh_gateway $}</td>
                    <td class="text-right col-md-3">Test Type :  </td>
                    <td class="text-info col-md-3">{$ traffic.test_type $}</td>
                </tr>
                <tr>
                    <td class="text-right col-md-3">Test result path :  </td>
                    <td class="text-info col-md-3">{$ traffic.test_result_path $}</td>
                    <td class="text-right col-md-3">Test Method :  </td>
                    <td class="text-info col-md-3">{$ traffic.test_method $}</td>
                </tr>
            </table>
        </div>
    </div>
    <!-- end: traffic details -->

    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>Select Tenants & Networks</h1>
            </div>

            <!-- Test type : Intra tenant -->
            <div ng-show="traffic.test_type == 'intra-tenant'">
                <ng-include src="'/static/partials/cloud/traffic/traffic_view_tenants_test_env.html'"></ng-include>
                <ng-include src="'/static/partials/cloud/traffic/traffic_view_tenants_prod_env.html'"></ng-include>
            </div>
            <!-- end: Test type : Intra tenant -->
        </div>
        <!-- ./col-md-12 -->
    </div>
    <!-- /row -->

    <!-- traffic test panel -->
    <div class="row" ng-show="(endpoints | filter: { is_selected: true }).length >= 2">
        <div class="col-md-12">

            <div>
                <div class="page-header">
                    <button type="button" ng-click="runTrafficTest(traffic.id)" class="btn btn-danger btn-sm pull-right">Run Traffic Test</button>
                    <h1>Traffic Test</h1>
                </div>
            </div>


            <div ng-show="testResultRunning">
                Traffic test in progress <span class="pull-right">Please wait...</span>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active"
                         role="progressbar" aria-valuenow="100" aria-valuemin="0"
                         aria-valuemax="100"
                         style="width: 100%;"></div>
                </div>
            </div>

            <div ng-hide="testResultRunning" id="traffic-test-results">
                <div class="panel panel-default" ng-show="testResult.udp">
                    <div class="panel-heading">UDP Traffic Test Result</div>
                    <table class="table table-bordered">
                        <tr>
                            <th>Source Tenant</th>
                            <th>Source Endpoint</th>
                            <th>Destination Tenant</th>
                            <th>Destination Endpoint</th>
                            <th>Interval Time</th>
                            <th>Transferred</th>
                            <th>Bandwidth</th>
                            <th>Jitter</th>
                            <th>Loss Datagram</th>
                            <th>Total Datagram</th>
                            <th>Loss %</th>
                            <th>Status</th>
                        </tr>
                        <tr ng-repeat="res in testResult.udp">
                            <td>{$ res.src_tenant[0] $}</td>
                            <td>{$ res.src_ep $}</td>
                            <td>{$ res.dest_tenant[0] $}</td>
                            <td>{$ res.dest_ep $}</td>
                            <td>{$ res.interval_time $}</td>
                            <td>{$ res.transferred $}</td>
                            <td>{$ res.bandwidth $}</td>
                            <td>{$ res.jitter $}</td>
                            <td>{$ res.loss_datagram $}</td>
                            <td>{$ res.total_datagram $}</td>
                            <td>{$ res.bandwidth_loss_percent $}</td>
                            <td>{$ res.status $}</td>
                        </tr>
                    </table>
                </div>


                <div class="panel panel-default" ng-show="testResult.tcp">
                    <div class="panel-heading">TCP Traffic Test Result</div>
                    <table class="table table-bordered">
                        <tr>
                            <th>Source Tenant</th>
                            <th>Source Endpoint</th>
                            <th>Destination Tenant</th>
                            <th>Destination Endpoint</th>
                            <th>Interval Time</th>
                            <th>Transferred</th>
                            <th>Bandwidth</th>
                            <th>Retr</th>
                            <th>Status</th>
                        </tr>
                        <tr ng-repeat="res in testResult.tcp">
                            <td>{$ res.src_tenant[0] $}</td>
                            <td>{$ res.src_ep $}</td>
                            <td>{$ res.dest_tenant[0] $}</td>
                            <td>{$ res.dest_ep $}</td>
                            <td>{$ res.interval_time $}</td>
                            <td>{$ res.transferred $}</td>
                            <td>{$ res.bandwidth $}</td>
                            <td>{$ res.retr $}</td>
                            <td>{$ res.status $}</td>
                        </tr>
                    </table>
                </div>

                <div class="panel panel-default" ng-show="testResult.icmp">
                    <div class="panel-heading">ICMP Traffic Test Result</div>
                    <table class="table table-bordered">
                        <tr>
                            <th>Source Tenant</th>
                            <th>Source Endpoint</th>
                            <th>Destination Tenant</th>
                            <th>Destination Endpoint</th>
                            <th>Packets Transmitted</th>
                            <th>Packets Received</th>
                            <th>Packet Loss %</th>
                            <th>rtt min</th>
                            <th>rtt avg</th>
                            <th>rtt max</th>
                            <th>Status</th>
                        </tr>
                        <tr ng-repeat="res in testResult.icmp">
                            <td>{$ res.src_tenant[0] $}</td>
                            <td>{$ res.src_ep $}</td>
                            <td>{$ res.dest_tenant[0] $}</td>
                            <td>{$ res.dest_ep $}</td>
                            <td>{$ res.packets_transmitted $}</td>
                            <td>{$ res.packets_received $}</td>
                            <td>{$ res.packet_loss_percent $}</td>
                            <td>{$ res.rtt_min $}</td>
                            <td>{$ res.rtt_avg $}</td>
                            <td>{$ res.rtt_max $}</td>
                            <td>{$ res.status $}</td>
                        </tr>
                    </table>
                </div>

                <div id="editor"></div>
                <button type="button" ng-click="exportTrafficTestResults()" class="btn btn-info">Download</button>
                <button type="button" ng-click="emailReport()" class="btn btn-primary">Email Report</button>
            </div>
        </div>
    </div>
    <!-- end: traffic test panel -->
</div>

