<ng-include src="'/static/partials/common/header.html'"></ng-include>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="#/cloud/">Cloud List</a></li>
                <li class="active">Cloud Details</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>Cloud Details</h1>
                <a href="#/cloud/edit/{$ cloud.id $}/" class="btn btn-primary btn-sm pull-right"><i class="fa fa-edit fa-fw"></i> Edit</a>
            </div>
            <table class="table bg-white border">
                <tr>
                    <td class="text-right col-md-3">Name : </td>
                    <td class="text-info col-md-3">{$ cloud.name $}</td>
                    <td class="text-right col-md-3">Keystone Auth URL : </td>
                    <td class="text-info col-md-3">{$ cloud.keystone_auth_url $}</td>
                </tr>
                <tr>
                    <td class="text-right col-md-3">Keystone Tenant Name : </td>
                    <td class="text-info col-md-3">{$ cloud.keystone_tenant_name $}</td>
                    <td class="text-right col-md-3">Keystone User : </td>
                    <td class="text-info col-md-3">{$ cloud.keystone_user $}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6" ng-controller="TenantListCtrl">
            <ng-include src="'/static/partials/cloud/tenants/tenants_list.html'"></ng-include>
        </div>

        <div class="col-md-6" ng-controller="TrafficListCtrl">
            <ng-include src="'/static/partials/cloud/traffic/traffic_list.html'"></ng-include>
        </div>
    </div>
</div>