<ng-include src="'/static/partials/common/header.html'"></ng-include>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">Cloud Details</div>
                <table class="table">
                    <tr>
                        <td class="text-right col-md-3">Name : </td>
                        <td class="text-info col-md-3">{$ cloud.name $}</td>
                        <td class="text-right col-md-3">Keystone Auth URL : </td>
                        <td class="text-info col-md-3">{$ cloud.keystone_auth_url $}</td>
                    </tr>
                    <tr>
                        <td class="text-right col-md-3">Keystone Tenant Name : </td>
                        <td class="text-info col-md-3">{$ cloud.keystone_tenant_name $}</td>
                        <td class="text-right col-md-3">Keystone User : </td>
                        <td class="text-info col-md-3">{$ cloud.keystone_user $}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <a href="#/cloudtraffic/add/{$ cloud.id $}/" class="btn btn-primary btn-xs pull-right">
                   <i class="fa fa-plus-circle fa-fw"></i> Add Traffic
                </a>
                <h1><i class="fa fa-cog fa-fw"></i> Cloud Traffic</h1>
            </div>

            <table class="table table-bordered bg-white">
                <tr>
                    <th>Name</th>
                    <th>Allowed Delta Percentage</th>
                    <th>Test Result Path</th>
                    <th>Number Of Workers</th>
                    <th>Remote User</th>
                    <th>Test Method</th>
                    <th>IPERF Duration</th>
                    <th>Type</th>
                    <th>Actions</th>
                </tr>
                <tr ng-repeat="cloudTraffic in cloudTrafficList">
                    <td><a href="#/cloudtraffic/view/{$ cloudTraffic.id $}/">{$ cloudTraffic.name $}</td>
                    <td>{$ cloudTraffic.allowed_delta_percentage $}</td>
                    <td>{$ cloudTraffic.test_result_path $}</td>
                    <td>{$ cloudTraffic.number_of_workers $}</td>
                    <td>{$ cloudTraffic.remote_user $}</td>
                    <td>{$ cloudTraffic.test_method $}</td>
                    <td>{$ cloudTraffic.iperf_duration $}</td>
                    <td>{$ cloudTraffic.tenant_type $}</td>
                    <td>
                        <span class="text-info"><i class="fa fa-edit fa-fw"></i></span>
                        <span class="text-danger"><i class="fa fa-trash-o fa-fw"></i></span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>